/* apply to all*/
* {
    box-sizing: border-box;
    
}

body {
    
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


header nav {
    margin: 7px 0;
    position: relative;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
} 

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: Black;
    text-decoration: none;
    background:rgba(52, 185, 19, 0.589);
    border: 3px solid rgba(52, 185, 19, 0.267); 
    

    
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: orange;
    border-radius: 15px;
    text-shadow: none;
    
}

header  img {
    padding: 10%;
    max-width: 100%;
}

header h1  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 36px;
    color: black;
    text-shadow: 0 2 10px(lime);
}

.about  {
    padding: 2px;
    text-align: center;
    background:rgba(52, 185, 19, 0.589);
    border: 3px solid rgba(52, 185, 19, 0.267);
    margin: 3.5%
    
    
}

.about h2 {
    padding: 50px;
    margin: 3.5%;
}

.about h2 p { 
    text-align: center;
    
}


/* Main Website */

.main {
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 50%;
    z-index: 9999;
}

section {
    padding: 40px;
}

section img {
    width: 100%;
    
    
}

.main {
    max-width: 1000px;
    margin:auto
}




/*content*/

.content {
    background-color:  rgba(0, 0, 0, 0.445);
    padding: 10px;
    margin-right: 20px;
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    
    
    
}


/*Run buddy img*/
.run-buddy {
    background-color: rgba(0, 0, 0, 0.445);
    padding: 10px;
    width:200% auto
    
    
}




/*footer*/

.footer {
    text-align: center;
    width: 100%;
    padding: 40px ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background:rgba(52, 185, 19, 0.589);
    border: 3px solid rgba(52, 185, 19, 0.267);
    
}





/*responsive layouts*/

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;

    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    
}

/* Media query for tablets and smaller */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px,
    }

    
    
}


   